---
layout: home
---

<div class="page-content">
  <div class="wrapper">

    <div class="home">

      <section class="root-page">
        {% for page in site.pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
      </section>

      <h1 class="page-heading">Recent Press Releases</h1>

      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>



    </div>

    </div>
</div>
<section class="timeline clearfix">
  <div class="wrapper"><h2>Skyscanner Timeline</h2></div>
  <div class="timeline-scroller">
    <ul>
      <li data-icon="pulse1">
        <h3>2004</h3>
        <ol>
          <li>Skyscanner's first office opens at the Bourse, Leith.</li>
        </ol>
      </li>
      <li data-icon="pulse1">
        <h3>2005</h3>
        <ol>
          <li>Browse view released after being designed on a beer mat.</li>
          <li>First foreign language sites go live (French, German, Polish, and Spanish).</li>
        </ol>
      </li>
      <li data-icon="pulse2">
        <h3>2006</h3>
        <p></p>
      </li>
      <li data-icon="pulse2">
        <h3>2007</h3>
        <p></p>
      </li>
      <li data-icon="pulse2">
        <h3>2008</h3>
        <p></p>
      </li>
      <li data-icon="pulse3">
        <h3>2009</h3>
        <p></p>
      </li>
      <li data-icon="pulse3">
        <h3>2010</h3>
        <p></p>
      </li>
      <li data-icon="pulse3">
        <h3>2011</h3>
        <p></p>
      </li>
      <li data-icon="pulse4">
        <h3>2012</h3>
        <p></p>
      </li>
      <li data-icon="pulse4">
        <h3>2013</h3>
        <p></p>
      </li>
      <li data-icon="pulse5">
        <h3>2014</h3>
        <p></p>
      </li>
      <li data-icon="pulse5">
        <h3>2015</h3>
        <p></p>
      </li>
    </ul>
  </div>
</section>