<header class="site-header">

  <div class="wrapper">

    <a class="site-title logo" href="{{ site.baseurl }}/"><span class="visually-hidden" aria-hidden="true">{{ site.title }}</span></a>

    <nav class="site-nav">
      <a target="_blank" class="page-link" href="http://www.skyscanner.net/">Flights</a>
      <a target="_blank" class="page-link" href="http://www.skyscanner.net/hotels">Hotels</a>
      <a target="_blank" class="page-link" href="http://www.skyscanner.net/carhire">Car Hire</a>
      <a target="_blank" class="page-link" href="/contact">Contact Us</a>
    </nav>

  </div>

</header>
<section class="hero-img">
    <nav class="secondary-nav wrapper">
        {% for page in site.pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
        <a href="/" class="home-icon"><span class="visually-hidden">Home</span></a>

      <div id="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        <ul id="results-container"></ul>
      </div>
    </nav>
</section>