/**
 * Site header
 */
.site-header {
    padding: 12px 0;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.hero-img {
    width: 100%;
    min-height: 256px;
    background: $brand-color url('../img/header-img-cafe-1530x400.jpg') no-repeat 0 50%;
    background-size: cover;

    &.about {
        background-image: url('../img/header-img-phone-1530x400.jpg');
    }

    nav {
        background: rgba(52,54,61,.8);
        padding: 8px 24px 8px 64px;
        margin: 0 auto;
        border-radius: 0 0 8px 8px;
        position: relative;

        a {
            color: #fff;
            font-weight: bold;
            padding-right: 24px;
            line-height: 42px;

            &.contact {
                display: none;
            }

            &.home-icon {
                background: rgba(255,255,255,.3) url('../img/home-icon-24x24.svg') no-repeat 50% 50%;
                position: absolute;
                left: 0;
                height: 100%;
                width: 42px;
                top: 0;
                border-bottom-left-radius: 8px;
                transition: background .2s ease-in-out;

                &:hover {
                    background-color: $brand-color;
                }
            }
        }

        #search-container {
            float: right;
            position: relative;


            input {
                max-width: 37px;
                cursor: pointer;
                float: right;
                height: 37px;
                padding: 8px 12px;
                border-radius: 4px;
                border: 0;
                color: transparent;
                background: transparent url('../img/search_24x24.svg') no-repeat 50% 50%;
                font: 15px 'Source Sans Pro', Helvetica, Arial, sans-serif;
                transition: max-width .2s ease-in-out, background .2s ease-in-out;

                &::-webkit-input-placeholder {
                    color: rgba(0,0,0,0);
                }

                &:focus {
                    outline: none;
                    max-width: 100%;
                    color: #fff;
                    cursor: text;
                    padding-left: 40px;
                    border-color: #fff;
                    background-position: 8px 50%;
                    background-color: rgba(255,255,255,.2);

                    &::-webkit-input-placeholder {
                        color: $grey-color;
                    }
                }


            }
        }
    }

    ul#results-container {
        position: absolute;
        background-color: #fff;
        background-color: rgba(255, 255, 255, .95);
        overflow-y: scroll;
        display: block;
        margin: 12px auto;
        max-width: 300px;
        right: 320px;
        box-shadow: 0 1px 2px $grey-color;

        a, span {
            color: $link-color;
            margin: 12px;
            min-width: 280px;
            display: block;
            line-height: 1.1em;

            &:before {
                content: url('../img/search-10x10.svg');
                margin: 4px 10px 0 0;
                height: 10px;
                width: 10px;
                display: block;
                float: left;
            }
        }
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &.logo {
        width: 160px;
        height: 36px;
        background: transparent url('../img/skyscanner-logo.svg') no-repeat 0 0;
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    margin-top: 4px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        &:hover {
            color: $link-color;
        }

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
        &:last-child {
            margin-left: 42px;

    }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    background-color: $text-color;
    color: #fff;
    padding: $spacing-unit 0;

    p, ul, li {
        color: $background-color;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/* Timeline */

.timeline {
    width: 100%;
    background-color: #595d68;
    padding: 24px 0;

    h2 {
        color: #fff;
    }

    .timeline-scroller {
        width: 100%;
        padding: 12px 0;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;

        ul {
            height: 180px;
            width: 2880px;

            li[data-icon*="pulse"] {
                float: left;
                text-align: center;
                color: #fff;
                position: relative;
                display: block;
                font-weight: bold;
                width: 160px;
                margin: 0 32px;

                &:hover::before {
                    -webkit-animation: pulse .3s ease-in-out 1;
                }

                @-webkit-keyframes pulse {
                    80% { -webkit-transform: scale(1.05,1.05); -webkit-transform-origin: center; }
                }

                &[data-icon*="pulse1"]::before {
                    content: '';
                    height: 160px;
                    width: 160px;
                    background: transparent url('../img/pulses-01.svg') no-repeat 50% 50%;
                    display: block;
                    position: absolute;
                    top: 32px;
                    left: 50%;
                    margin-left: -80px;
                }
                &[data-icon*="pulse2"]::before {
                    content: '';
                    height: 160px;
                    width: 160px;
                    background: transparent url('../img/pulses-02.svg') no-repeat 50% 50%;
                    display: block;
                    position: absolute;
                    top: 32px;
                    left: 50%;
                    margin-left: -80px;
                }
                &[data-icon*="pulse3"]::before {
                    content: '';
                    height: 160px;
                    width: 160px;
                    background: transparent url('../img/pulses-03.svg') no-repeat 50% 50%;
                    display: block;
                    position: absolute;
                    top: 32px;
                    left: 50%;
                    margin-left: -80px;
                }
                &[data-icon*="pulse4"]::before {
                    content: '';
                    height: 160px;
                    width: 160px;
                    background: transparent url('../img/pulses-04.svg') no-repeat 50% 50%;
                    display: block;
                    position: absolute;
                    top: 32px;
                    left: 50%;
                    margin-left: -80px;
                }
                &[data-icon*="pulse5"]::before {
                    content: '';
                    height: 160px;
                    width: 160px;
                    background: transparent url('../img/pulses-05.svg') no-repeat 50% 50%;
                    display: block;
                    position: absolute;
                    top: 32px;
                    left: 50%;
                    margin-left: -80px;
                }

                ol {
                    position: absolute;
                    height: auto;
                    left: 50%;
                    margin-left: -80px;
                    width: 160px;
                    background-color: $brand-color;
                    padding: 12px;
                    top: 10px;
                    z-index: 900;
                    display: none;

                    li {
                        list-style: none;
                    }
                }
            }
        }
    }
}

/* Home page pages */

.root-page {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

    a {
        -webkit-flex: 1;
        flex: 1;
        margin: 12px;
        font-size: 24px;
        padding: 12px;
        background-color: $brand-color;
        color: #fff;
        min-height: 160px;
        transition: background .2s ease-in-out;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $dark-brand-color;
            text-decoration: none;
        }
    }
}